/*
 * Estilos de tu proyecto
 */

 *{
     margin: 0 auto;
     padding: 0;
 }
 body{
     font-family: 'Roboto', sans-serif;
 }


.container{
    width: 100%;
    box-sizing: border-box;
}

i.profile {
    position: relative;
    left: 450px;
    bottom: 15px;
    color: #318ce7;
    font-size: 50px;
}

.icon-rigth {
    color: white;
    font-size: 20px;
}

header {
    text-align: center;
    box-sizing: border-box;
    background-color: #ccccff;
}

header div{
    padding: 15px;
}

.img{
    width: 300px;
    height: auto;
}

.container-list{
    margin:0;
    width: 18%;
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    line-height: 18px;
}

.container-list ul{
    list-style: none;
}

.container-list .list{
    width: 100%;
}

.container-list .list li a{
    color: white;
    display: block;
    padding: 15px 20px;
    font-size: 18px;
    text-decoration-line: none;
    background-color: #003153;
}

.container-list .list li.title a{
  background-color: #003153;
}

.container-list .list li.option a:hover{
    background-color: #6495ed;
    color: white;
    font: bold 12px;

}

<<<<<<< HEAD
.container-list .list li i.icon-rigth{
    float: right;
    margin-left: 10px;
}

.container-list .list ul{
  display: none;
}

.container-list .list ul li a{
  background-color: #424242;
  color: #e9e9e9;
}

.container-list .list .active > a {
  background-color: #6495ed;
  color: white;
}
=======
.container-list .list li .icon-rigth{
    
}

.chart{
    box-sizing: border-box;
    width: 80%;
    position: absolute;
    left: 210px;
    top: 240px;
    
    outline: 1px solid red;
}
.first-part{   
    column-count: 4;
    column-gap: 10px;
    break-inside: avoid;
    width: 100%;
}
.enrollment, .achievement, .net{
    margin-left: 5px;
    outline: 1px solid purple;
   
}

>>>>>>> 75ef9685184154c8e858662355534bd8772004cd
